#anchor{
    -fx-background-color : linear-gradient(#D40018,#F5001C);
}

#btnEntrar
{
-fx-background-color : #65B94C;
-fx-background-radius :   30 30 30 30;
}
#btnEntrar:hover
{
-fx-background-color : #A0D491 ;
-fx-background-radius :  30 0 0 30;
}
#btnEntrar:pressed
{
-fx-background-color : #F5001C ;
-fx-background-radius :  30 0 0 30;
}


#btnCancelar
{
-fx-background-color : #CC0018;
-fx-background-radius :   30 30 30 30;
}
#btnCancelar:hover
{
-fx-background-color : #FF475D ;
-fx-background-radius :  30 0 0 30;
}
#btnCancelar:pressed
{
-fx-background-color : #F5001C ;
-fx-background-radius :  30 0 0 30;
}

