#btnCadAluno
{
-fx-background-color : #D40018;

}
#btnCadAluno:hover
{
-fx-background-color : #F5001C ;

}
#btnCadAluno:pressed
{
-fx-background-color : #D40018 ;

}



#btnAnamnese
{
-fx-background-color : #D40018;

}
#btnAnamnese:hover
{
-fx-background-color : #F5001C ;

}
#btnAnamnese:pressed
{
-fx-background-color : #D40018 ;

}


#btnAvaliacao
{
-fx-background-color : #D40018;

}
#btnAvaliacao:hover
{
-fx-background-color : #F5001C ;

}
#btnAvaliacao:pressed
{
-fx-background-color : #D40018 ;

}


#btnAnaPost
{
-fx-background-color : #D40018;

}
#btnAnaPost:hover
{
-fx-background-color : #F5001C ;

}
#btnAnaPost:pressed
{
-fx-background-color : #D40018 ;

}


#btnPerCirc
{
-fx-background-color : #D40018;

}
#btnPerCirc:hover
{
-fx-background-color : #F5001C ;

}
#btnPerCirc:pressed
{
-fx-background-color : #D40018 ;

}


#btnFlexibilidade
{
-fx-background-color : #D40018;

}
#btnFlexibilidade:hover
{
-fx-background-color : #F5001C ;

}
#btnFlexibilidade:pressed
{
-fx-background-color : #D40018 ;

}


#btnHemo
{
-fx-background-color : #D40018;

}
#btnHemo:hover
{
-fx-background-color : #F5001C ;

}
#btnHemo:pressed
{
-fx-background-color : #D40018 ;

}


#btnIbdm
{
-fx-background-color : #D40018;

}
#btnIbdm:hover
{
-fx-background-color : #F5001C ;

}
#btnIbdm:pressed
{
-fx-background-color : #D40018 ;

}


#btnLaudos
{
-fx-background-color : #D40018;

}
#btnLaudos:hover
{
-fx-background-color : #F5001C ;

}
#btnLaudos:pressed
{
-fx-background-color : #D40018 ;

}


#btnRelacoes
{
-fx-background-color : #D40018;

}
#btnRelacoes:hover
{
-fx-background-color : #F5001C ;

}
#btnRelacoes:pressed
{
-fx-background-color : #D40018 ;

}


#btnSobre
{
-fx-background-color : #D40018;

}
#btnSobre:hover
{
-fx-background-color : #F5001C ;

}
#btnSobre:pressed
{
-fx-background-color : #D40018 ;

}


#btnSair
{
-fx-background-color : #D40018;

}
#btnSair:hover
{
-fx-background-color : #F5001C ;

}
#btnSair:pressed
{
-fx-background-color : #D40018 ;

}



